
body {
    font-family: sans-serif;
    background-color: lightseagreen;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: yellow;
}

.eye-container {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-left: 15px;
    margin-top: 15px;
}

.eye {
    width: 15px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
}


.sad-mouth {
    width: 50px;
    height: 25px;
    background-color: yellow;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border: 10px solid black;
    border-bottom: 0px;
    margin-left: 15px;
    margin-top: -5px;
}

.happy-mouth {
    width: 50px;
    height: 25px;
    background-color: yellow;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 10px solid black;
    border-top: 0px;
    margin-left: 15px;
    margin-top: -5px;
}

