body {
    height: 80vh;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    margin-left: 120px;
    position: relative;
    top: 25px;
    width: 220px;
    height: 55px;
    background-color: brown;
    border-radius: 35px 

}

.display {
    width: 400px;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border: 25px solid brown;
    border-radius: 12px;
    background-color: lightpink;

}