html {
    margin-top: 80px;
    border: 5px solid blue;
}

body {
    margin: 50px;
    background-color: lightslategrey;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

* {
    margin: 0;
    padding: 15px;
    border: 2px solid lightblue;

}

.container {
    width: 400px;
    height: 190px;
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    align-items: center;
    background-color: lightsalmon;
    border: 21px solid purple;
    border-radius: 42px 0 42px 0;
}



